<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Uploud</MudNavLink>
    <MudNavLink Href="/Uploaded" Match="NavLinkMatch.Prefix"> Uploaded files</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavGroup Title="Account" Expanded="true">
                <MudNavLink href="/identity/account/logout" Match="NavLinkMatch.All">Log out</MudNavLink>
            </MudNavGroup>
        </Authorized>
        <NotAuthorized>
            <MudNavGroup Title="Account" Expanded="true">
                <MudNavLink class="nav-link" href="/identity/account/login" Match="NavLinkMatch.All">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                </MudNavLink>
            </MudNavGroup>
        </NotAuthorized>
    </AuthorizeView>

</MudNavMenu>

